* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}
